<div class="form-header">
  <h2>Send us a message</h2>
</div>
<form method="post" action="/submit" novalidate>
  <div class="form-field">
    <label for="message">First Name</label>
    <textarea class="input" id="name" name ="name" rows="4" autofocus></textarea>
  </div>
  <div class="form-field">
    <label for="email">Last name</label>
    <input class="input" id="lname" name ="lname" type="" value="" />
  </div>
  <div class="form-actions">
    <button class="btn" type="submit">Send</button>
  </div>
</form>
